{% extends "app.html" %}

{% block head_content %}
<title>Hotels List</title>
{% endblock%}

{% block container %}
    <div class="uk-flex uk-flex-center">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="uk-margin">
                <label class="uk-form-label" for="first_name">Nombre</label>
                <div class="uk-form-controls">
                    <input type="text" name="first_name" 
                        class="uk-input uk-form-width-large {% if form.first_name.errors %}uk-form-danger{% endif %}" 
                        placeholder="Nombre"
                        value="{% if form.errors %}{{ form.first_name.value }}{% else %}{{ agent.first_name }}{% endif %}"
                    >
                </div>
            </div>
            {% if form.first_name.errors %}
                <div class="uk-alert-danger" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p>{% for error in form.first_name.errors %}{{ error }}{% endfor %}</p>
                </div>
            {% endif %}
            
            <div class="uk-margin">
                <label class="uk-form-label" for="phone">Telefono</label>
                <div class="uk-form-controls">
                    <input type="text" name="phone" 
                        class="uk-input uk-form-width-large {% if form.phone.errors %}uk-form-danger{% endif %}" 
                        placeholder="Telefono"
                        value="{% if form.errors %}{{ form.phone.value }}{% else %}{{ agent.phone }}{% endif %}"
                    >
                </div>
            </div>
            {% if form.phone.errors %}
                <div class="uk-alert-danger" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p>{% for error in form.phone.errors %}{{ error }}{% endfor %}</p>
                </div>
            {% endif %}
            

            <button type="submit" class="uk-button uk-button-secondary uk-width-1-1">Guardar</button>
        </form>
    </div>
{% endblock %}


