<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-container">
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="{% url 'hotels:hotels' %}" style="font-family: 'Damion', cursive;">Hoteles</a>
            <ul class="uk-navbar-nav">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'users:detail' %}">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'hotels:hotelCreate' %}">
                            Crear Hotel
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'users:logout' %}">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: sign-out"></span>
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'users:signin' %}">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: sign-in"></span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>